# Dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log

# Build files
/build

# Coverage output
/coverage

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# MongoDB files
/data

# IDE-specific files
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db
